@import './components/Contact';
@import './components/Donations';
@import './components/Header';
@import './components/InfoList';
@import './components/Nav';
@import './components/Footer';
@import './components/Main';

@import './elements/button';


@import './views/App.scss';